






body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #060858;
    color: white;
    padding: 10px;
    text-align: center;

   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
}

.home{
  background: rgb(0,0,0,0);
}

.About{
  background: rgb(0,0,0,0);
}

.event{ background: rgb(0,0,0,0);}
.schedule{ background: rgb(0,0,0,0);}
.sponsors{ background: rgb(0,0,0,0);}
.contact{
  background: rgb(0,0,0,0);
}

a{
    text-decoration: none;
    color: aliceblue;
    background-color: rgb(0,0,0,);
}

a:hover{
    text-decoration: underline;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: rgb(0,0,0,0);
}

nav ul li {
    display: inline;
    margin-right: 20px;
    padding-right: 0px;
    text-align: left;
    background: rgb(0,0,0,0);
}

section {
    padding: 20px;
}



@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;

}
.wrapper{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background:rgb(0,0,0,0.5);
  /* background: linear-gradient(375deg, #1cc7d0, #2ede98);*/ 
  /*clip-path: circle(25px at calc(0% + 45px) 45px); */
  clip-path: circle(25px at calc(100% - 45px) 45px);
  transition: all 0.3s ease-in-out;



}
#active:checked ~ .wrapper{
  clip-path: circle(75%);
}
.menu-btn{
  position: absolute;
  z-index: 2;
  right: 20px;
  /* left: 20px; */
  top: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  font-size: 20px;
  color: #ffffff;
  cursor: pointer;
  /*background: linear-gradient(-135deg, #113964, #364bb4);*/
  /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */

  background-repeat: no-repeat;
  transition: all 0.3s ease-in-out;
}
#active:checked ~ .menu-btn{

  color:white;
}
#active:checked ~ .menu-btn i:before{
  content: "\f00d";
  background-color:#202020;
}
.wrapper ul{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;

}
.wrapper ul li{
  margin: 15px 0;

}
.wrapper ul li a{
  color: none;
  text-decoration: none;
  font-size: 30px;
  font-weight: 500;
  padding: 5px 30px;
  color:white;
  position: relative;
  line-height: 50px;
  margin-right: 20px;
  transition: all 0.3s ease;


}
.wrapper ul li a:after{
  position: absolute;
  content: "";

  width: 100%;
  height: 50px;
  left: 0;
  border-radius: 50px;
  transform: scaleY(0);
  margin-right: 20px;
  z-index: -1;
  transition: transform 0.3s ease;

}
.wrapper ul li a:hover:after{
  transform: scaleY(1);

  background:#ff96ad;
  box-shadow:0 0 5px #ff96ad, 0 0 25px #ff96ad, 0 0 50px #ff96ad, 0 0 200px #ff96ad;
}
.wrapper ul li a:hover{


}
input[type="checkbox"]{
  display: none;
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  text-align: center;
  width: 100%;
  color: #202020;
}
.content .title{
  font-size: 80px;
  font-weight: 700;
  color: azure;

}
.content p{
  font-size: 35px;
  font-weight: 600;
}



.logo2{
  background-image: url(./assets/logo.png);
  height: fit-content;
  width: auto;

}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  top:0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

@media (min-aspect-ratio:16/9){
  #myVideo{
    width:100%;
    height:auto;
  }
}

@media (max-aspect-ratio:16/9){
  #myVideo{
    width:auto;
    height:100%;
  }
}
